@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* overflow: hidden; */
}
body{
    overflow: hidden;
}
.category::-webkit-scrollbar{
    width: 0;
}

/* ::-webkit-scrollbar-track {
    background: hsl(120 75% 50% / 1);
    width: .5em;
}

::-webkit-scrollbar-thumb {
    background: hsl(120 75% 10% / 1);
    border-radius: 100vw;
    height  
} 

::-webkit-scrollbar-thumb:hover{
    background: hsl(120 75% 40% / 1);
} */



.menu::-webkit-scrollbar{
    width: .5rem;
}

 .menu::-webkit-scrollbar-track {
    background: white;
    width: .5rem;
}

.menu::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 100vw;
    width: .5rem;
    height: .5rem;
}  

.menu::-webkit-scrollbar-thumb:hover{
    background: rgb(92, 92, 92);
    border-radius: 100vw;
}  

/* logoImage styling */
.logoImage {
    background-image: url('./images/goodyNewLogo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* Create styling */
.createBackground {
    background-image: url('./images/bgImage1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
/* login styling */
.loginBackground {
    background-image: url('./images/bgImage3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

/* styling the Handles */
.htmlBackground{
    background-image: url('./images/html.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cssBackground{
    background-image: url('./images/css2.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.javascriptBackground{
    background-image: url('./images/javascript.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.reactBackground{
    background-image: url('./images/react2.webp');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.gitBackground {
    background-image: url('./images/git2.jpeg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}


.tailwindBackground {
    background-image: url('./images/tailwind.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

/* styling the tutor Image */
.tutorImage{
    background-image: url('./images/goodymanLogo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

/* styling the profile Section */
.profileImage{
    background-image: url('./images/profileImage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

/* styling profile Background */
.profileBackground{
    background-image: url('./images/profileBackgroundImage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.barIcon{
    display: none;
}

.NavSection{
    background-image: url('./images/appBack5.png');
    
}



/* this makes the scroll bar of the Text Area disappear */
.textArea::-webkit-scrollbar{
    width: .5rem;
}

.codeArea {
    
}

.direction button{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
}





/* ------------------media query for smaller screens------------------ */
@media screen and (max-width: 730px){
    /* .LeftSide{
        width: 0rem;
    } */
    .menu{
        /* width: 0rem; */
        display: none;
    }

    .searchBox{
        /* width: 0rem; */
        display: none;
    }

    .profileSection{
        /* padding-left: none; */
        /* padding-right: 3rem; */
    }

    .NavSection{
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        padding: 0px;
        height: 5rem;
    }

    .siteName{
        font-size: 1rem;
    }
 
    .barIcon{
        display: block;
       
    }

    .search {
        background-color: transparent;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        
    }
    .search {
        background-color: transparent;
        border: none;
        
    }

    .homeMenu1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        align-items: center;
        gap: 2rem;
    }

    .formHolder{
        width: 75%;
        margin: 2rem;
    }

   .courseSection{
    height: 18rem;
   }

   .profileSection{
    /* padding-left:0.2rem ; */
    gap: 0rem;
    padding-left: 0rem;
   }

   .navTop{
    gap: 0.125rem;
   }

   .formSectionAndMic {
    width: 15%;
    margin-left: 3rem;
   }

   .profileName{
    display: none;
   }

   .search, .microphone, .notification{
    width: 1.8rem;
    height: 1.8rem;
   }

   .NavSection {
    grid-template-columns: repeat(2, minmax(0, 1fr));
   }

   .contentSection{
    display: flex;
    flex-direction: column;
    
   }

   .textArea, .videoArea{
    height: 20rem;
   }
}